.left-detail{
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 50px;
    width: auto;
}
.right-detail{
    padding-top: 60px;
    padding-left: 30px;

}

.left-img{    
   width: 512px;
   height: 512px;

}
.right-info{
    padding-left: 30px;
}
.title{
    font-size: 50px;
}
.price{
    font-size: 25px;
    padding-left: 10px;
    padding-bottom: 15px;
}
.size{
    padding-left: 8px;
    font-size: 25px;
    width: 250px;
    height: 55px;
    padding-bottom: 4px;
}
.add-cart{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(224, 224, 224);
    color: rgb(42, 41, 41);
    width: 220px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;

}
.add-cart:hover{
    background-color: rgb(59, 176, 129);
    color: rgb(234, 234, 234);
}
.amount{
    width: 250px;
    margin-top: 15px;
}
.input-amount{
    font-size: 25px;
    margin-top: 0;
    width: 250px;
    height: 45px;
}